body{
    padding: 0;
}
.header a{
    text-decoration: none;
    color: #828282;
    font-size: 18px;
}
.Home{
    color: black;
}
.header{
    width: 60%;
    margin-left: 252px;
    display: flex;
    justify-content: space-between;
    border-bottom:  1px solid #828282;
    padding-top: 33px;
    padding-bottom: 31px;
}
.name{
    font-size: 47.3392px;
    color: black;
    height: 118px;
    width: 123px;
    margin-top: 39px;
}
.information{
    font-size: 18px;
    height: 44px;
    width: 200px;
    margin-top: 94.77px;
    margin-bottom: 49px;
    margin-left: 297px;
    margin-right: 470px;


}
.languge{
    color: black;
    margin-top: 69px;
    transform: rotate(-90deg);
    margin-right: 0;
}
.main-text{
    display: flex;
    justify-content: space-between;
    width: 943px;
    margin-left: 251px;
    padding-right: 0;
}
.img-denis{
    margin-left: 250px;
}
.main-container-2 h1{
    font-size: 34px;
}
.main-container-2{
    background: #F6F6F6;
    margin-top: 104px;
    height: 506px;
    padding-top: 120px;
}
.about-me p{
    font-size: 18px;
    margin-left: 480px;
    margin-bottom: 0;
    margin-top: 0;
}
#text{
    margin-left: 590px;
}
#text2{
    margin-left: 535px;
}
#text3{
    margin-left: 570px;

}
#text4{
    margin-left: 655px;
}
#text5{
    margin-left: 610px;
}
#text6{
    margin-left: 670px;
}
.about-me1{
    margin-bottom: 50px;
}
.about-me2{
    margin-bottom: 50px;
}
.about-me3{
    margin-bottom: 50px;
}
.image{
    display: flex;
    justify-content: space-around;
}
.skills p{
    font-size: 18px;
    margin-bottom: 83px;

}
.skills h1{
    font-size: 34px;
    margin-bottom: 69px;
    margin-top: 91px;
}
.main-container-4{
    background: #F6F6F6;
    padding-top: 112px;
    padding-bottom: 96px;
}
.main-container-4 h1{
    font-size: 34px;
    margin-bottom: 41px;
}
.store-img img{
    margin-left: 257px;

}
.store-img p{
    font-size: 18px;
    text-decoration: underline;
    margin-top: 44px;
    margin-bottom: 99px;
    transition-duration: 2s;
}
.store-img p:hover{
    font-size: 20px;
    text-decoration: none;
    transition-duration: 2s;
}
input{
    background: black;
    color: white;
    border-radius: 20px;
    height: 38px;
    width: 166px;
    text-align: center;
    margin-left: 665px;
    margin-top: 39px;

}
input:active{
    border: 4px solid grey;
}
.contacts h1{
    font-size: 34px;
    margin-bottom: 20px;
}
.last-text{
    font-size: 14px;
    color: #828282;
    height: 34px;
    width: 243px;
    margin-bottom: 0;
}
.images{
    width: 350px;
    margin-left: 575px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
@media (max-width:767px) {
    .header{
        display: none;
    }
    .img-denis{
        height: 600px;
        width: 600px;
    }
}